.nav-order-status {
    overflow-x: auto; /* Izinkan scroll horizontal */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling untuk perangkat touch */
    scrollbar-width: none; /* Hilangkan scrollbar (Firefox) */
}

.nav-order-status::-webkit-scrollbar {
    display: none; /* Hilangkan scrollbar (Chrome, Safari) */
}

.nav-item-order {
    width: 11rem;
    min-width: 11rem;
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Menghindari penyusutan */
}

.nav-link-order {
    text-align: center;
    flex-grow: 0; /* Jangan biarkan elemen ini meluas */
    width: 100%; /* Mengisi ruang yang tersedia */
}

/* Kalau mau indikator jumlah pesanan hanya muncul saat di-hover, uncomment line yang di-comment di bawah ini */
.badge {
    position: absolute;
    right: 0;
    visibility: visible;
    /* visibility: hidden; */
    opacity: 1;
    /* opacity: 0; */
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-left: auto;
    /* transition: visibility 0s, opacity 0.2s ease-in-out; */
}

/* .nav-item-order:hover .badge {
    visibility: visible;
    opacity: 1;
} */

.transaction-card .card {
    width: 100%;
    height: fit-content;
}

.img-no-order {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.img-wrapper {
    height: 100%;
    overflow: hidden;
}

.card-info p {
    margin: 0;
}
