/* Carousel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgb(84, 61, 199);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(32, 19, 99);
}

.carousel-control-prev {
    left: -25px;
}

.carousel-control-next {
    right: -25px;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
