@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: purple;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

.box {
    background-color: blueviolet;
    box-shadow: 0 12px 12px 5px black;
    color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    animation: infiniteJump 5s ease-in-out 1s infinite;
}

h1,
h2,
h3 {
    background-color: blueviolet;
}

@keyframes infiniteJump {
    0% {
        transform: translateY(-100%);
    }
    15% {
        transform: translate(0);
    }
    30% {
        transform: translateX(-100%);
    }
    45% {
        transform: translate(0);
    }
    60% {
        transform: translateX(100%);
    }
    75% {
        transform: translate(0);
    }
    100% {
        transform: translateY(100%);
    }
}
